page-forgot-reset-password {
    .main_body {
        background-color: #f7f6f6;
      }
      .wtp {
        text-align: center;
        color: #124676;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 1.5px;
        margin: 5vh auto 7vh auto;
        width: 80%;
      }
      .login_desc {
        text-align: center;
        color: #adaeaf;
        font-size: 14px;
      }
      .pin_code {
        padding-left: 10%;
        padding-right: 10%;
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center
      }
      .dim {
        height: 10%;
        width: 14%;
      }
      .pin_box {
        margin: 0;
        height: 50px;
        text-align: center;
        font-size: 18px;
        width: 100%;
        background: #f7f6f6;
        border: solid 1px #cfd8e1;
        border-radius: 4px;
      }
      .spacer {
        height: 8vh;
      }
      .done_btn {
        position: absolute;
        bottom: 0;
        width: 50%;
        display: block;
        margin: 26px 25%;
        background: rgba(0, 0, 0, 0);
        border: 0.5px solid #94E5D4;
        padding: 16px 25px;
        border-radius: 30px;
        color: #02c39a;
        font-size: 14px;
        text-transform: uppercase;
      }
      .done_btn:active {
        background: #94E5D4;
        border: 0.5px solid #f7f6f6;
        color: #f7f6f6;
      }
}
